$texto:#eee;
$texto2:lighten(#eee,10%);
$fondo:#15a;
$fondo2:lighten(#15a,10%);
$titulo:darken(#15a,10%);
$theme:light;
$witdhPorcentaje:100%;
//Los @import son para tener el código mejor distribuido y tenerlo más 'limpio'.
@import "mixin";
@import "contenido";
@import "menu";
@import "keyframes";
@import "funciones";
body{
    @include padWitHei($witdh:$witdhPorcentaje - 1%, $height:100%, $padding:0);//Incluyo un mixin para añadir esos valores, pero al no acordarme del orden de
    //las variables lo pongo manualmente.
    @if $theme==dark{
        background-color: #138;
        color:#ddf;
    }@else{
        background-color: #ddf;
        color: #138;
    }
    i{
        display: inline-block;
    }    
    header{
        @include color($titulo,grisear($texto));
        font-size: 2em;
    }
}
#desktop{
    width: $witdhPorcentaje - 1%;
    position: absolute;
    @include colorF($fondo);
    ul{
        margin: 0px;
        padding: 0;
        list-style-type: none;
        .categoria{
            width: calc($witdhPorcentaje/8);
            text-decoration: none;
            padding: 10px;
            a{
                @include colorT($texto);
                text-decoration: none;
                &:hover{
                    @include colorT($texto2);
                    padding: 10px 20px;
                }
            }
            display: inline-block;
            text-align: center;
            position: relative;
            &:hover{
                @include colorF($fondo2);
                @include animacion(iluminar,0.4s);
                >.submenu{
                    height: 200px;
                }
            } 
        .submenu{
            position: absolute;
            height: 0px;
            left:0;
            overflow: hidden;
            width: $witdhPorcentaje;
            @include transicion(height,0.5s,ease-out);
            >li{
                &:first-child{
                    margin-top: 10px;
                }
                @include colorF($fondo);
                    >a{
                        @include colorT($texto);
                        text-decoration: none;
                        padding: 10px;
                        @include transicion(padding,0.4s,ease-out);
                        &:hover{
                            @include colorT($texto2);
                        }
                    }
                    &:hover{
                        @include colorF($fondo2);
                        @include animacion(iluminar,0.4s);
                    }
                    padding: 10px;
                    display: block;
                    text-align: center;
                    position: relative;
                }
            }
        }
    }
}
//En el 'desktop' he utilizado el nesting para no estar repitiendo código, es decir, me ahorro por ejemplo poner 'ul...'
//cada vez que quiera cambiar algo que esté dentro de este.
footer{
    @include color($texto,$fondo);
    padding: 10px;
    position: fixed;
    width: $witdhPorcentaje - 1%;
    bottom: 0px;
    @include box();
}